@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Aladin&family=Amarante&family=Andada+Pro&family=Bubbler+One&display=swap");
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Aladin', cursive; */
/* font-family: 'Amarante', cursive; */
/* font-family: 'Andada Pro', serif; */
/* font-family: 'Bubbler One', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}
body {
  /* background: #abbdd0; */
  background: linear-gradient(#abbdd0, #041554f7);
  background-size: fit-content;
  background-repeat: no-repeat;
}
/* --------------------- LOG ON PAGE --------------------- */
.log-in-pg {
  display: flex;
  justify-content: center;
}
#castle-container {
  width: 80%;
  height: 60rem;
  background-image: url("./images/w.png");
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
}
.logo {
  height: 3.5rem;
  filter: invert(0.9);
}
#input-form-container {
  height: 60rem;
  padding: 7rem;
  background-color: rgba(4, 21, 84, 255);
}
/* --------------------- WELCOME TEXT --------------------- */
.idx-wt {
  /* background: rgba(255, 255, 255, 0.057); */
  z-index: 9999;
  position: absolute;
  top: 10%;
  left: 30%;
  border-radius: 12px;
}
.co-text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Aladin", cursive;
  font-size: 2rem;
}
.logo-text {
  font-size: 4rem;
}
/* --------------------- LOG IN FORM --------------------- */
#main-form {
  width: max-content;
  margin: 40px auto;
  font-family: "Aladin", cursive;
  padding: 25px 28px;
  background: hsl(195, 100%, 99%);
  border-radius: 4px;
  border: none;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-size: 1.5rem;
}
@keyframes popup {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgba(4, 21, 84, 255);
}
.input-parent {
  display: block;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: rgba(4, 21, 84, 255);
}
.input-parent input {
  padding: 10px 8px;
  width: 100%;
  font-size: 16px;
  background: #a0a3c568;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}
.input-parent input:hover {
  background: #5459a2a6;
}
.input-parent input:focus {
  box-shadow: 0px 0px 0px 1px #ffffff;
}
button {
  padding: 10px 18px;
  font-size: 1.5rem;
  background: #04155493;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #f4f4f4;
  transition: all 0.2s ease;
  margin-top: 1rem;
  cursor: pointer;
  max-width: 9rem;
}
button:hover {
  opacity: 0.4;
}
button:focus {
  box-shadow: 0px 0px 0px 3px black;
}
/* --------------------- NAV BAR --------------------- */
nav {
  display: flex;
  gap: 5rem;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Aladin", cursive;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.058);
}
.nav-item {
  /* outline: solid red 1px; */
  width: 20rem;
  text-align: center;
}
.nav-item:visited {
  color: white;
}
/* --------------------- HOME PAGE --------------------- */
.home-logo-text {
  font-size: 3rem;
  text-align: center;
  font-family: "Aladin", cursive;
  color: white;
  padding-top: 3rem;
}
.castle-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}
.render-castles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
  border: 3px black solid;
  margin: 0 2rem 3rem 2rem;
  background-color: rgba(207, 197, 212, 0.648);
  font-family: "Aladin", cursive;
}
.render-castles h2 {
  font-size: 2.5rem;
  color: black;
}
.render-castles h3 {
  font-size: 1.7rem;
}
.render-castles h4 {
  font-size: 1.5rem;
}
.render-castles p {
  margin: 2rem;
  font-size: 1.5rem;
  font-family: "Bubbler One", sans-serif;
}
.render-castles button {
  margin: 1rem;
}
.castle-imgs {
  max-width: 50vw;
  padding: 0 2rem 0 2rem;
}

/* --------------------- ACCOUNT PAGE --------------------- */
.account-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.purchased {
  width: 40vw;
  height: fit-content;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  border-radius: 12px;
  background-color: white;
  border: 1px black solid;
}
.liked {
  width: 40vw;
  height: 90vh;
  border: 1px black solid;
  margin: 2rem;
}
.users-castle-img {
  border: black 2px solid;
  border-radius: 12px;
  height: 30vh;
  max-width: 30vw;
}
